NODE_ENV=development
REACT_APP_API_BASE_URL=http://localhost:5000/api
REACT_APP_BASENAME=/
REACT_APP_LOG_API_RES=true
REACT_APP_LOG_API_REQ=true
REACT_APP_DEBUG_FORM_BORDERS=false
REACT_APP_DEFAULT_SCENARIO=683165c0d9851c33841334ef


# Setting up git repo
# // <root folder> - find existing git repo
# find . -name ".git"
# rm -rf .git
# // Add to new git repo
# git init -y
# git add .
# /// commit thru gui

# Instructions for setting up a new branch in Git
# Confirm you're on main
#git branch --show-current
# Pull latest changes
#git pull origin main
# Create and switch to new branch
#git checkout -b new-branch
# Verify branch
#git branch --show-current
# Start coding!
# (Optional) Push branch to remote
#git push -u origin new-branch

# Instructions for merging a branch into another after finishing work
# On github, create new pull request, merge, then close the request.
# Follow next isntructions below to retrieve the merged branch

# Instructions for updating the main branch after finishing work on a branch and merging it
#git checkout main
#git pull origin main

# Retrieving a branch that was created in another PC and start coding on it.
#git fetch origin
#git checkout new-branch
#git pull origin new-branch


# Fix branch divergence between PCs
#git fetch (to get all new branches from remote)
#git reset --hard origin/feature/component-failure-rates-mvp (will reset the current branch to the state of the remote branch)